/*Gilroy font starts*/

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    src: local(''),
        url('./fonts/Gilroy-Regular.ttf') format('truetype'),
        url('./fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
    src: local(''),
        url('./fonts/Gilroy-Medium.ttf') format('truetype'),
        url('./fonts/Gilroy-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 600;
    font-style: normal;
    src: local(''),
        url('./fonts/Gilroy-Semibold.ttf') format('truetype'),
        url('./fonts/Gilroy-Semibold.woff') format('woff');

}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    src: local(''),
        url('./fonts/Gilroy-Bold.ttf') format('truetype'),
        url('./fonts/Gilroy-Bold.woff') format('woff');
}

/*Gilroy font ends*/

body {
    font-family: 'Gilroy', sans-serif; 
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

}

.header__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    /* min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; */
}

._container {
    max-width: 1270;
    margin: 0 auto;
    padding: 15px;
}

.header__body {
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;
}

.header__main {
    display: flex;
    align-items: center;
    flex: 0 0 494/1240*100%; /*invalid property value*/
}

.header__logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 29 / 24 * 100%; /*invalid property value*/
    color: #000000;
}

.menu {
    flex: 0 1 420px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 3px;
    padding: 5px 0px;
    position: relative;
}

.menu__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #3A3A3A;
    color: inherit;
    transition: color 0.3s ease 0s;
}

.menu__arrow {
    margin: 0px 0px 0px 8px;
    transition: all 0.3s ease 0s;
    font-size: 12px;
}

.menu__sub-list {
    list-style-type: none;
    position: relative;
    background-color: #E89F71;
    padding: 15px;
    flex: 1 1 100%;
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: translate(0px, 10px);
    visibility: hidden;
    min-width: 200px;
    left: 0;
    position: absolute;
    top: 100%;
}

.menu__sub-item:not(:last-child) {
    margin: 0px 0px 5px 0px;
}

.menu__sub-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
}



